{% extends 'base.html' %}


{% block content %}
    <div class="container">
      
      <div class="row">
        
        <div class="col-sm-4">
          <div class='well'>
            
            <h4>Filters and views</h4>
            <p>Put some filters here:</p>
            <div class='row-fluid'>
              <div class='span6'>
                <ul>
                  <li><a href=''>Filter 1</a></li>
                  <li><a href=''>Filter 2</a></li>
                  <li><a href=''>Filter 3</a></li>
                  <li><a href=''>Filter 4</a></li>
                </ul>
              </div>
            </div>

          </div>

        </div>

        <div class="col-sm-8">
          <div id='map_canvas'></div>
          <p class='pull-right'>
            <div id="map" style="width: 960px; height: 600px"></div>
          </p>
        </div>
      </div>

    </div>

{% endblock %}



