{% extends 'base.html' %}

{% block content %}
<div class="container">

   

      <div class="jumbotron">
         <h1>Welcome, {{ user }}!</h1>
         <p><!-- You are on your UNLV Data Science Application Dashboard! --></p>
         <p>There are three different applications provided for you. Please select one of them.</p>
      </div>

   <div class="row">
    <div class="col-sm-4">
      <h3>Survivability Calculator</h3>
      <p>This is an online breast cancer survivability calculator. We will use a form to determine 5-years survivability.</p>
      <p><a class="btn btn-primary btn-md" href="#" role="button">Learn more &raquo;</a></p>
    </div>
    <div class="col-sm-4">
      <h3>Map Template</h3>
      <p>Geographic maps are going to show you different populations in the United States of America.</p>
      <p><a class="btn btn-primary btn-md" href="#" role="button">Learn more &raquo;</a></p>
    </div>
    <div class="col-sm-4">
      <h3>Charts and Graphs</h3>        
      <p>We use charts and graphs to visualise the result of our data analysis based on SEER data.</p>
      <p><a class="btn btn-primary btn-md" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

</div>
{% endblock %}